.main{
    background-color: aliceblue;
}
.conteiner{
    transition: 1s;
    background-color: rgb(146, 146, 146);
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    color: rgb(43, 42, 46);
}
.conteiner1{
    transition: 1s;
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    color: white;
}
.user{
    text-align: center;
}
.contacts{
    width: 80%;
    margin: 0 auto;
}
.hr{
    background-color: rgb(39, 56, 78);
    height: 3px;
    border: none;
    width: 60%;
}
.button{
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 90%;
    background-color: whitesmoke;
    border-color: grey;
}
.button img{
    width: 30px;
    height: 35px;
}
